<html>
<head>
    <title>Hello KubeCon!</title>
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="./assets/css/podtato.css"/>
    <script src="./assets/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./assets/css/custom.css"/>
</head>

<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>

{{ if eq .InfrastructureState "ready" }}

{{ else }}
<script>
    let ready = true
</script>
{{ end }}

<body style="background-color: #849abd;color: #faebd7;">

<main class="container">
    <div class="topnav">
        <img src="assets/img/kccnc-eu-2023-logos-black.svg" height="75%" width="75%">
    </div>
    <div class="text-center">
        <br />
        <h1>Infrastructure-Status:<br />{{ .InfrastructureState }}</h1>
        <br />
        {{ if eq .InfrastructureState "Ready" }}
        <img src="assets/img/ready.png" height="200" width="200">
        <br />
        <input type="radio" onclick="proceed()" class="btn-check" name="options-outlined" id="danger-outlined" autocomplete="off">
        <label class="btn btn-outline-danger" for="danger-outlined">Enable Maintenance Mode</label>
        <script>
            ready = false
        </script>
        {{ else }}
        <script>
            ready = true
        </script>
        <img src="assets/img/notready.png" height="200" width="200">
        <br />
        <input type="radio" onclick="proceed()" class="btn-check" name="options-outlined" id="success-outlined" autocomplete="off" checked>
        <label class="btn btn-outline-success" for="success-outlined">Disable Maintenance Mode</label>
        {{ end }}
        <br />
        <br />
        <details>
            <summary>Latest Events</summary>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Timestamp</th>
                <th scope="col">App</th>
                <th scope="col">Workload</th>
                <th scope="col">Event</th>
            </tr>
            </thead>
            <tbody>
        {{ range .Events }}
        <tr>
            <td width="150"><b>{{ .Timestamp }}</b></td>
            <td width="100">{{ .App }} {{ .AppVersion }}</td>
            <td width="100">{{ .Workload }} {{ .WorkloadVersion}} </td>
            <td width="150"><a href="#" data-mdb-toggle="tooltip" title="{{ .Result }}">{{ .EventType }}</a> </td>
        </tr>
        {{ end }}
            </tbody>
        </table>
        </details>
    </div>
</main>
<script>
    function proceed () {
        fetch('/infraReadiness', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                "ready":    ready
            })
        }).then(function (response) {
            if (response.status !== 200) {
                console.log('Looks like there was a problem. Status Code: ' +
                    response.status);
                return;
            }
            response.json().then(function (data) {
                console.log(data);
            });
        })
        window.location.reload();
    }
</script>
</body>
</html>